{% extends 'base.html.twig' %}

{% block title %}New Election{% endblock %}

{% block body %}
    <h1>Create new Election</h1>

    {{ include('election/_form.html.twig') }}

    <a href="{{ path('election_index') }}">back to list</a>
{% endblock %}
