{% extends 'base.html.twig' %}

{% block title %}New President{% endblock %}

{% block body %}
    <h1>Create new President</h1>

    {{ include('president/_form.html.twig') }}

    <a href="{{ path('president_index') }}">back to list</a>
{% endblock %}
