{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1>Liste Pays</h1>
<p><a href="{{ path('add-pays') }}">Ajouter Pays</a></p>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Modifier</th>

        </thead>
        <tbody>
        {% for pay in pays %}
            <td>{{ pay.id }}</td>
            <td>{{ pay.nompays }}</td>
            <td><a href="{{ path('paysupdate', {'id': pay.id}) }}">Modifier</a></td>
   
        </tbody>
        {% endfor %}
    </table>

{% endblock %}