{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1>Lise des produits</h1>
<p><a href="{{ path('add-pays') }}">Ajouter un produit</a></p>
{% for pay in pays %}
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Modifier</th>

        </thead>
        <tbody>
            <td>{{ pay.id }}</td>
            <td>{{ pay.nompays }}</td>
            <td><a href="{{ path('paysupdate', {'id': pay.id}) }}">Modifier</a></td>
   
        </tbody>
    </table>
{% endfor %}
{% endblock %}